<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">

    <servlet>
        <display-name>RegisterSelrr sadasdasda</display-name>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.bruno.servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <display-name>LoginServlert</display-name>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.bruno.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogCheckServlet</servlet-name>
        <servlet-class>com.bruno.servlets.LogCheckServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactsServlet</servlet-name>
        <servlet-class>com.bruno.servlets.ContactsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ContactsServlet</servlet-name>
        <url-pattern>/con</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogCheckServlet</servlet-name>
        <url-pattern>/lc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/reg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/log</url-pattern>
    </servlet-mapping>
</web-app>
